/* ========== GENERAL STYLES ========== */
body {
	margin: 0px;
	padding: 0px;
	font: 600 14px/1.2em 'Source Sans Pro', sans-serif;
	background: #FFF;
	color: #757781;
}
a {
	color: #3496ca;
}
h1 {
	font: 600 22px/1 'Source Sans Pro', sans-serif;
	letter-spacing: -.25px;
	color: #FFF;
	margin: 0px;
}
h1 span {
	font: 300 22px/1 'Source Sans Pro', sans-serif;	
}
h2 {
	font: 400 21px/1 'Noto Serif', serif;
	color: #171920;
	margin: 45px 0px 0px;
}
ul {
	list-style: none;	
	padding: 0px;
	margin: 9px 0px;
}
ol {
	list-style: none;
	padding: 6px 0px 26px;
	margin: 0px;	
}
ul li,
ol li ul li {
	position: relative;	
	padding: 7px 0px 7px 16px;
}
ul li:before {
	content: "";
	display: block;
	width: 6px;
	height: 6px;
	position: absolute;
	top: 12px;
	left: 0px;
	background: #3599CD;	
}
ul li u {
	color: #171920;
	font-weight: bold;
}
ol li {
	padding: 10px 0px;	
}
input[type="submit"], button {
	display: inline-block;
	font: 600 16px/1.2em 'Source Sans Pro', sans-serif;
	color: #FFF;	
	background: #3599CD;
	padding: 11px 26px;
	border: 0px;
	cursor: pointer;
}
.hidden {
	display: none;   
}
.clear:after {
	content: "";
	visibility: hidden;
	clear: both;
	display: block;
	height: 0px;
}
.border-box {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.regular {
	font-weight: 400;	
}
.italic {
	font-style: italic;	
}


/* ========== STRUCTURAL STYLES ========== */
.section-parent {
	position: relative;
	padding: 0px 20px;
	display: block;
}
.section {
	max-width: 730px;
	margin: 0px auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
#page {
	position: relative;
	overflow: hidden;
}
header {
	background: #181A21;	
}
.section.header {
	padding: 17px 0px;	
}
.section.header h1 {
	float: left;	
}
.section.header #header-logo {
	float: right;	
	position: relative;
	top: 2px;
}
.content-block {
	padding: 9px 30px 11px 30px;
	border-bottom: dashed 1px #DDE1EA;
}
label {
	display: block;
	position: relative;	
}
label span {
	display: block;	
	margin-bottom: 9px;
}
label input {
	display: block;
	border: solid 1px #171920;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	width: 305px;
	height: 30px;
	padding: 0px 10px;
	margin: 0px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
label input.small {
	width: 50px;	
}
label input.is-empty {
	color: #990000;
	border: solid 1px #990000;	
}
#form-controls {
	padding: 18px 0px 48px;	
}
footer {
	position: relative;
	background: #171920;
}
footer:before {
	content: "";
	height: 1px;
	display: block;
	position: absolute;
	top: 30px;
	left: 0px;
	right: 0px;
	background: #bb3292;
	background: -moz-linear-gradient(left,  #bb3292 0%, #ed1f69 16%, #f47e45 33%, #fece0c 49%, #c3d42e 65%, #43bb93 82%, #3599cd 100%);
	background: -webkit-linear-gradient(left,  #bb3292 0%,#ed1f69 16%,#f47e45 33%,#fece0c 49%,#c3d42e 65%,#43bb93 82%,#3599cd 100%);
	background: linear-gradient(to right,  #bb3292 0%,#ed1f69 16%,#f47e45 33%,#fece0c 49%,#c3d42e 65%,#43bb93 82%,#3599cd 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#bb3292', endColorstr='#3599cd',GradientType=1 );	
}
.section.footer {
	 padding: 54px 0px 28px;	
}
.section.footer #footer-logo {
	position: relative;	
}
#light-box-outer,
#light-box-utility-outer {
	display: none;
	position: fixed;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	padding: 0px 20px;
	background: rgba(0, 0, 0, .60);
	z-index: 100;	
	overflow: auto;
}
#light-box,
#light-box-utility {
	max-width: 450px;
	margin: 100px auto;
	padding: 0px 20px;
	background: #FFF;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-box-shadow: 0px 0px 40px rgba(0, 0, 0, .40);
	-webkit-box-shadow: 0px 0px 40px rgba(0, 0, 0, .40);
	box-shadow: 0px 0px 40px rgba(0, 0, 0, .40);
}
#light-box-content,
#light-box-utility-content {
	padding: 0px 0px 30px;
	border-bottom: dashed 1px #DDE1EA;
}
#light-box-content h2,
#light-box-utility-content h2 {
	float: left;	
}
#light-box-content p,
#light-box-utility-content p {
	clear: both;
}
.light-box-message {
	clear: both;	
	padding-top: 9px;
}
#light-box-close,
#light-box-utility-close {
	margin: 18px 0px 48px;	
}


/* ========== MOBILE STYLES ========== */
/* MediaBegin 480+ */
@media (max-width: 639px) {
	.section.header h1 {
		float: none;	
	}
	.section.header #header-logo {
		float: none;
		top: 0px;
		display: block;
		margin-top: 10px;	
	}
}
/* MediaBegin 320+ */
@media (max-width: 479px) {
	.content-block {
		padding: 9px 0px 11px;	
	}
	label input {
		width: 100%;	
	}
}