.section.main.loading {
	min-height: 400px;
	background: url(/cms/lib/SWTC000001/Centricity/domain/9/creativeservicesmeetingrequest/img/loader.gif) no-repeat center center;	
}
.section.main {
	padding-bottom: 50px;	
}
.input-with-btn {
	float: left;	
}
.date-range {
	width: 100px;
	display: inline-block;	
	float: none;
}
.input-btn {
	padding: 5px 13px;
	height: 30px;
}
.label-hint {
	font-weight: normal;
	font-style: italic;	
}
#form-controls {
	padding: 18px 0px;	
}
button[class*="delete"] {
	font-weight: normal;
	font-size: 13px;
	color: #990000;
	background: none;
	padding: 0px;
	margin-left: 10px;
	-webkit-flex: none;
	-ms-flex: none;
	flex: none;
}
.meeting-time-options,
.specific-meeting-time-options {
	width: 200px;
	position: absolute;
	top: 100%;
	left: 0px;
	display: none;	
	margin: 0px;
	padding: 0px;
	background: #FFF;
	box-shadow: 0px 0px 10px rgba(0, 0, 0, .35);
	z-index: 1;
}
.meeting-time-options li,
.specific-meeting-time-options li {
	padding-left: 10px;
	padding-right: 10px;	
}
.meeting-time-options li a,
.specific-meeting-time-options li a {
	font: 600 14px/1.2em 'Source Sans Pro', sans-serif;
	color: #757781;	
	text-decoration: none;
}
.meeting-time-options li a:hover,
.specific-meeting-time-options li a:hover {
	text-decoration: underline;
}
.meeting-time-options.open,
.specific-meeting-time-options.open {
	display: block;	
}
.submission {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
	border-bottom: dashed 1px #DDE1EA;
}
.submission:last-child {
	border-bottom: none;
}
.submission:before {
	-webkit-flex: none;
	-ms-flex: none;
	flex: none;
}
.submission-info {
	-webkit-flex: 1 1 auto;
	-ms-flex: 1 1 auto;
	flex: 1 1 auto;
}
.notes {
	display: block;
}
.notes span {
	font-weight: 400;
}
#light-box-utility-content label {
	display: inline-block;	
}
.notify {
	display: none;
}
.notify.success {
	position: fixed;
	bottom: 30px;
	left: 30px;
	border: solid 2px #FFF;
	background: rgba(0, 0, 0, .85);
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: #FFF;
	font-weight: normal;
	font-size: 18px;
	z-index: 99999;
	padding: 15px 20px;
}

/* ========== MOBILE STYLES ========== */
/* MediaBegin 320+ */
@media (max-width: 479px) {
	label input {
		width: 210px;	
	}
	#light-box-utility label input {
		width: 170px;	
	}
	#light-box-utility .date-range {
		width: 100px;
	}
}